* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
}

input {
    display: block;
    width: 100%;
    padding: .8rem 1rem;
    margin: .5rem 0;
    border: 1px solid #ccc;
    font-size: .9rem;
    font-weight: 300;
    color: #555;
    outline: none;
}

textarea {
    width: 100%;
    display: block;
    padding: .5rem 1rem;
    color: #555;    
    outline: none;
    resize: vertical;
    border: 1px solid #ccc;
}

button {
    display: block;
    width: 100%;
    padding: .8rem 1rem;
    font-size: .9rem;
    font-weight: 500;
    border: none;
    margin-top: 1.5rem;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fefefe;
    outline: none;
    cursor: pointer;
}

button:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.post-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.post-card {
    max-width: 400px;
    margin: 1rem;
    width: 100%;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.post-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #4CAF50;
    margin-bottom: 1rem;
}

.post-body {
    font-size: .95rem;
    font-weight: 300;
    color: #1e1e1e;
    line-height: 2;
}

.post-user {
    margin-top: 1rem;
    text-align: right;
    color: #777;
    font-weight: 500;
    font-size: .8rem;
}